<% content_for :title, @page.name %>

<div id="title">
	<div class="cell">
		<h1><%=h @page.name %></h1>
	</div>
</div>


<div id="subtitle">
	<div class="cell">
		<h2>A little bit about this site</h2>
	</div>
</div>
<div id="content">
	<div id="left-col">
		<div class="padding">
			<%= textilize @page.content  %>
		</div>
	</div>	

	
	<div id="right-col">
		<p class="headline">Controls</p>
		<div id="controls">        	
			<div class="padding">
				<% if current_user && current_user.admin? %>
					<p>
						<%= image_tag 'icons/page_white_edit.png', :align => 'absmiddle' %>
						<%= link_to 'Edit', edit_page_path(@page) %> this page
					</p>
					<p>
						<%= image_tag 'icons/page_white_go.png', :align => 'absmiddle' %>
						<%= link_to 'See all', pages_path %> pages
					</p>
					<p>
						<%= image_tag 'icons/page_white_add.png', :align => 'absmiddle' %>
						<%= link_to 'Create', pages_path %> a new page
					</p>
					<hr size="1" />					
				<% end %>
				<%= render 'layouts/master_view_controls' %>
			</div>
		</div>
		
		<% if current_user && current_user.admin? %>
				
			<p class="headline">Edits History</p>
			
			<div id="versions" class="padding">
				
				<p>
					Viewing version: <strong><%= @page.version %></strong> 
					<%if @page.version > 1 %>
						<br /><%= link_to '&gt;&gt; previous version', :version => @page.version-1 %>
					<% end %>
					<% if params[:version]%>
						<br />See the <%= link_to 'Current version &lt;&lt;', :version => nil %>
	  				<% end %>
				</p>
				
						
			</div>
		<% end %>
	</div>
</div>
	
	
	
	
	