<% content_for :title, @venue.name %>

<div id="title">
	<div class="cell">
		<h1><%=h @venue.name %></h1>
	</div>
</div>
<div id="subtitle">
	<div class="cell">
		<h2>
			<% if @venue.address.blank? %>
				No address listed
			<% else %>
				<%= link_to @venue.address.usable, @venue.address %>
			<% end %>
		</h2>
	</div>
</div>

<div id="content">
	<div id="left-col">
		<% if @venue.address.blank? %>
			<div class="padding">
				<h3 class="warning">
					This venue needs an address. 
					<%= link_to 'Add one', edit_venue_path(@venue) %> or <%= link_to 'create one', new_address_path %>
				</h3>	
			</div>
		<% end %>
		<p class="headline">Notes</p>
		<div class="padding">
			
			<% if @venue.description.blank? %>
				<p>No notes have been added yet.</p> 
				<p class="small_gray">	
					<%= image_tag 'icons/pencil_go.png', :align => 'absmiddle' %>
					<%= link_to "Write some", edit_venue_path(@venue) %> now.
				</p>
			<% else %>
				<%= textilize @venue.description %>
				<p class="small_gray">
					Something wrong?  Something more to add? 
					<%= image_tag 'icons/pencil_go.png', :align => 'absmiddle' %>
					<%= link_to "Edit this", edit_venue_path(@venue) %> entry now.
				</p>
			<% end %>
		</div>
		
		<p class="headline">Performances at this venue</p>
		<div class="padding">
			<% if @venue.performances.count > 0 %>
				<ul>
				<% for performance in @venue.performances %>
					<li><%= link_to performance.venue_listing, performance %></li>
				<% end %>
				</ul>
				<p>
					<%= image_tag 'icons/calendar_add.png', :align => 'absmiddle' %>
					<%= link_to 'Add another performance', new_performance_path %>
				</p>
			<% else %>
				<p class="small_gray">
					No performances at this venue yet.
					<%= image_tag 'icons/calendar_add.png', :align => 'absmiddle' %> <%= link_to 'Add one', new_performance_path %> to this venue
				</p>
			<% end %>
		</div>
		
		
	</div>
	<div id="right-col">
		
			<div id="band_pics">
				<div class="logo">
					<% if @venue.photo? %>
						<%= image_tag @venue.photo.url(:large) %>
					<% else %>
						<p class="small_gray">
							No photo.
							<%= image_tag 'icons/picture_add.png', :align => 'absmiddle', :style => 'background-color: #fff; border: none; padding: 0;' %> 
							<%= link_to 'Add one', edit_venue_path(@venue) %> of this venue
						</p>
					<% end %>
				</div>
			</div>
				
	
		<p class="headline">Controls</p>
		
		<div id="controls">
            <div class="padding">
				<p>	
					<%= image_tag 'icons/building_edit.png', :align => 'absmiddle' %>
					<%= link_to 'Edit details', edit_venue_path(@venue) %> about this venue
				</p>
				
				<p>
					<%= image_tag 'icons/world.png', :align => 'absmiddle' %>
					Venue <%= link_to 'address', @venue.address %> Information
				</p>
				
				<%= render 'layouts/master_view_controls_hr' %>
			</div>
		</div>
		
		<% if current_user && current_user.admin? %>
				
			<p class="headline">Edits History</p>
			
			<div id="versions" class="padding">
				
				<p>
					Viewing version: <strong><%= @venue.version %></strong> 
					<%if @venue.version > 1 %>
						<br /><%= link_to '&gt;&gt; previous version', :version => @venue.version-1 %>
					<% end %>
					<% if params[:version]%>
						<br />See the <%= link_to 'Current version &lt;&lt;', :version => nil %>
	  				<% end %>
				</p>
			</div>
		<% end %>
		
	</div>
</div>

