<% form_for @performer, :html => { :multipart => true } do |f| %>
  
	  <%= f.error_messages %>
		  <p><%= f.label :first_name %><br />
		    <%= f.text_field :first_name %>
		  </p>
		  <p><%= f.label :last_name %><br />
		    <%= f.text_field :last_name %>
		  </p>
		  <p><%= f.label :photo, "Add a photo" %><br />
		  	<%= f.file_field :photo %>
		  </p>
		  <p><%= f.label :description, "About" %><br />
			<%= f.text_area :description, :rows => 8 %>
		</p>
	  
	  	<%= render 'layouts/textile_call_out' %>
	  
		  <p>
		    <%= f.submit 'Submit' %>
		  </p>
  
<% end %>