<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => '3' %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => '10' %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>