<% content_for :title, "Add Performers to " + @performance.compact %>

<div id="title">
	<div class="cell">
    	<h1><%=h @performance.compact %></h1>
    </div>
</div>


<div id="subtitle">
	<div class="cell">
    	<h2><%= link_to @performance.tour.band.name, @performance.tour.band %> | <%= link_to @performance.tour.name, @performance.tour %></h2>
    </div>
</div>
<div id="content">
	<div id="left-col">
		<p class="headline">Performers at this show</p>
		<div class="padding">
			<% if @performance.performers.count > 0 %>
				
				<% form_tag(performer_remove_performance_path(@performance)) do %>
				
					<% for performer in @performance.performers do %>
						<p><label>Remove</label>
							<%= check_box_tag "performers[]", performer.id %> <%= performer.name %> 
							
						</p>
					<%end%>
					<%= submit_tag "Remove performers" %>
				<% end %>
			<% else %>
				<p>No performers yet listed. Add some below.</p>
			<% end %>
			
			
			<% if @performance.performers.count < Performer.count then %>
				<% form_tag(performer_add_performance_path(@performance)) do %>
					
					
					<% for performer in @performance.did_not_perform_at do %>
						<p>
							<label>Add</label>
							<%= check_box_tag "performers[]", performer.id %> <%=h performer.name %>
						</p>
					<% end %>
					
					<p class="submit_btn">
						<%= submit_tag "Add performers" %>
					</p>
					
			
				<% end %>
			<% else %>
				<p>No more performers to add.</p>
			<% end %>

			</div>
	</div>	
	<div id="right-col">
		<div id="band_pics">
			<div class="logo">
				<%= link_to image_tag(@performance.tour.band.photo.url(:large), :border => 0, :alt => @performance.tour.band.name), @performance.tour.band %></span>
			</div>
			<div class="band_members">
			<% if @performance.performers.count > 0 %>	
				<% for performer in @performance.performers do %>
					<%= link_to image_tag(performer.photo.url(:avatar),  :align => 'middle', :border => 0, :alt => performer.name ), performer  %> 
				<% end %>
			<% end %>
			</div>
		</div>
		
		<p class="headline">Controls</p>
        <div id="controls">
            <div class="padding">
				<p>
					<%= image_tag 'icons/cancel.png', :align => 'absmiddle' %>
					<%= link_to 'Cancel', @performance %> these edits
				</p>
				
				
				<% if @performance.songs.count > 1 %>
						<p>
							<%= image_tag 'icons/database_go.png', :align => 'absmiddle' %>
							<%= link_to 'Update', setlist_performance_path(@performance) %> setlist song order
						</p>
					<% end %>
					
					 
				<p>
					<%= image_tag 'icons/map.png', :align => 'absmiddle' %>
					View <%= link_to 'venue', @performance.venue %> and <%= link_to 'address', @performance.address %>
				</p>
				<p>
					<%= image_tag 'icons/world.png', :align => 'absmiddle' %>
					View <%= link_to @performance.tour.name, tour_path(@performance.tour.permalink) %>
				</p>
		</div>
	</div>
</div>