<div class="search_box_small">
  <%= render 'performances/search_form'%>			      
</div>

<p>
	<%= image_tag 'icons/cd_add.png', :align => 'absmiddle' %>
	<%= link_to 'new recording', new_recording_path %>
</p>
<p>
	<%= image_tag 'icons/cd.png', :align => 'absmiddle' %>
	<%= link_to 'all recordings', recordings_path %>
</p>
<p>
	<%= image_tag 'icons/calendar_add.png', :align => 'absmiddle' %>
	<%= link_to 'new performance', new_performance_path %>
</p>
<p>
	<%= image_tag 'icons/calendar.png', :align => 'absmiddle' %>
	<%= link_to 'all performances', performances_path %>
</p>
<p>
	<%= image_tag 'icons/user_add.png', :align => 'absmiddle' %>
	<%= link_to 'new performer', new_performer_path %>
</p>
<p>
	<%= image_tag 'icons/group.png', :align => 'absmiddle' %>
	<%= link_to 'all performers', performers_path %>
</p>
<p>
	<%= image_tag 'icons/building_add.png', :align => 'absmiddle' %>
	<%= link_to 'new venue', new_venue_path %>
</p>
<p>
	<%= image_tag 'icons/building.png', :align => 'absmiddle' %>
	<%= link_to 'all venues', venues_path %>
</p>
<p>
	<%= image_tag 'icons/map_add.png', :align => 'absmiddle' %>
	<%= link_to 'new address', new_address_path %>
<p>
<p>
	<%= image_tag 'icons/map.png', :align => 'absmiddle' %>
	 <%= link_to 'all addresses', addresses_path %>
</p>
<p>
	<%= image_tag 'icons/music.png', :align => 'absmiddle' %>
	<%= link_to 'all songs', songs_path %>
</p> 
<p>
	<%= image_tag 'icons/world.png', :align => 'absmiddle' %>
	<%= link_to 'all tours', tours_path %>
</p>
